<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActiveDirectoryHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActiveDirectoryHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ActiveDirectoryHelper.Properties.Settings>
            <setting name="ClearAfterSuccessfulSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DomainList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mydomain.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SelectedDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mydomain.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastProgramUpdateCheck" serializeAs="String">
                <value>2007-01-01</value>
            </setting>
            <setting name="DisplayDisabledAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnLineDirectoryFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomManagerSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDirectReportSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomManagerSearchIsComposite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDirectReportSearchIsComposite" serializeAs="String">
                <value>False</value>
            </setting>
        </ActiveDirectoryHelper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ActiveDirectoryHelper.Properties.Settings>
            <setting name="ProgramUpdateContact" serializeAs="String">
                <value>Michael McKechney</value>
            </setting>
            <setting name="ProgramVersionCheckURL" serializeAs="String">
                <value>http://adhelper.sourceforge.net/current_version.txt</value>
            </setting>
            <setting name="ProgramUpdateURL" serializeAs="String">
                <value>https://sourceforge.net/project/showfiles.php?group_id=207498</value>
            </setting>
            <setting name="ProgramUpdateContactEmail" serializeAs="String">
                <value>Michael@McKechney.com</value>
            </setting>
        </ActiveDirectoryHelper.Properties.Settings>
    </applicationSettings>
</configuration>